body, html {
    font-family: Copperplate, Courier, fantasy;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size:20px;
  }

.playerName {
  font-weight: bold;
  font-size:30px;
}

.playerClass {
  font-style: italic;
  font-size:20px;
}

.playerRace {
  font-size:12px;
}

.background-image {
  background-image: url('1920x1080-terrain-wa.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
}

table {
  width: 100%;
}

  .screenlabel {
    font-weight: bold;
    background-color: #110f5b;
    padding: 2px;
    
}

.characterPortrait {
    border: 2px solid white;
  }


.widget{
    border: 2px solid black;
    padding: 5px;
background-color: rgba(0, 0, 0, 0.5);
}